*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif !important;
}
html{
    scroll-behavior: smooth;
}
body{

    background: linear-gradient(to top,rgba(0, 0, 0, 0.815),rgba(0, 0, 0, 0.904)), url(netflix-bg.jpg);
}

#container-fluid{
    background: linear-gradient(to top,rgba(0, 0, 0, 0.815),rgba(0, 0, 0, 0.904)), url(netflix-bg.jpg);
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    color: aliceblue;
    /* z-index: -1; */
    /* position: relative; */
}
.siginin{
    display: flex;
}
.navbar-nav{
    border: 1px solid white;
    color: white;
}
.nav-link{
    border: 1px solid white;
    color: white;
    padding: 5px 10px;
}
.nav-link:hover{
    color: aliceblue;
}
.nav-link img{
    margin-right: 3px;
}
.siginin button{
    background-color:rgb(229,9,20);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bolder;
     margin-left: 5px;
     border: none;
     outline: none;
     transition: 1s;
}
.siginin button:hover{
    background-color:white;
    color:rgb(229,9,20);
    border: 1px solid rgb(229,9,20);
    transition: 1s;
}
/* home */

/* .homerow{ */
    /* display: flex;
    align-items: center;
    justify-content: center; */
/* } */

.gg{
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.bg{
    /* background: linear-gradient(to right, red, purple); */
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.gf{
    /* background-color: blueviolet; */
    /* border: 3px solid; */
    /* border-bottom:5px solid rgb(14,36,119);
    border-right:5px solid   rgb(14,36,119);
    border-top:5px solid rgb(164,14,49);
    border-left:5px solid rgb(164,14,49); */
   
    border-radius: 5px;
    /* background-color: black; */
    background: linear-gradient(to bottom right,#e50914, #0c2277);
    color: white;
    width: 80%;
    
  
}
.inputhome input{
    border: 1px solid gray;
    background: transparent;
    padding: 10px 0px;
    border-radius: 5px;
    color: white;
}
.inputhome button{
    background-color: rgb(229,9,20);
    color: white;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    outline: none;

}
.inputhome button:hover{
    background-color: white;
    border: 1px solid #e50914;
    transition: 1s;
    color: #e50914;
    
}


/* rgb(9,6,38) */

/* about */
#about{
    background: linear-gradient(to top,rgba(0, 0, 0, 0.925),rgba(0, 0, 0, 0.925)), url(netflix-bg.jpg);
    width: auto;
    height: auto;
    background-repeat: no-repeat;
    background-position:bottom;
    background-size: cover;
}

.aboutcontainer{
    background-color: #e50914;
    background-color: rgb(9,6,38);
    border-radius: 25px;
    padding: 20px;
    box-shadow: 1px 2px 10px 2px rgba(0, 0, 0, 0.671),-1px -2px 10px 2px rgba(0, 0, 0, 0.678);
} 


.aboutcol1{
    color:rgb(255,255,255);
    font-weight: 600;
}
.aboutrow1{
    display: flex;
    align-items: center;
    /* border-bottom-width: 50%;
    border-bottom: 2px solid red; */
}

/* servics */

#servics{
    width: 100%;
    min-height: 100vh;
    background-color:rgb(0,8,29);
    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column; */
}
/* #servics .container-fluid{
    background-color: black;
    color: white;

} */
/* #servics .container-fluid .col-11{
    background-color: pink;
    color: blue;
} */

.servics-bg{
    background-color: #132144;
    color: white;
    border: none;
    outline: none;
}
.servics-bg-inner{
    background-color: #132144;
    color: white;
    border: none;
    outline: none;
}
.accordion-button.collapsed {
    background-color: #132144;
    border: none;
    outline: none;
    transition: 1s;
  }
  
  .accordion-button.collapsed::after {
    background-color: #132144;
    border: none;
    outline: none;
    transition: 1s;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .accordion-toggle.collapsed::after {
    background-color:#132144;
  }
  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125) t;
}
.gfg{
    /* background-color: blueviolet; */
    /* border: 3px solid; */
    /* border-bottom:5px solid rgb(14,36,119);
    border-right:5px solid   rgb(14,36,119);
    border-top:5px solid rgb(164,14,49);
    border-left:5px solid rgb(164,14,49); */
   
    border-radius: 5px;
    background-color:rgb(0,8,29);
    /* background: linear-gradient(to bottom right,#e50914, #0c2277); */
    color: white;
    width: 80%;
  
}
.bgb{
    background-color:rgb(0,8,29);
}


/* footer */

#footer{
    width: 100%;
    min-height: 100vh;
    background-color:rgb(0,8,29);
    color: white;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
li a{
    color: white;
    transition: 1s;
}
li a:hover{
    color:red;
    text-decoration: none;
    transition: 1s;
    border-left: 1px solid red;
}
p a{
    color: white;
}
ul{
    list-style-type: none;
}
.footul{
    width: 40%;
}

/* coomon */